body {
    background-image: url(Assets/andrew-ridley-jR4Zf-riEjI-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 0px;
}

p {
    color: darkslategray;
}

.text-bold {
    font-weight: bold;
}

.navbar {
    background-color: aliceblue;
    opacity: 95%;
}

.btn {
    background-color: cadetblue;
    color: aliceblue;
}

.portfolio-image-div a:hover {
    opacity: 50%;
}

footer {
    background-color: gray;
    color: darkslategray;
    margin-bottom: 0px;
    padding: 10px;
    padding-bottom: 15px;
}

h1 {
    font-family: 'Satisfy', cursive;
    color: darkslategray;
}

h2 {
    font-size: 20pt;
}

span {
    color: indigo;
    font-size: 30pt;
    font-weight: bold;
    font-family: 'Satisfy', cursive;
}

.nav-item {
    font-size: 20px;
}

.footer-copyright {
    margin-bottom: 0;
}
.container {
    background-color: aliceblue;
    padding: 20px;
    margin-bottom: 50px;
}

.profile-container {
    max-width: 800px;
}

.form-container {
    max-width: 650px;
    padding-left: 40px;
    padding-right: 40px;
}

.about-image {
    border: solid 2px darkslategray;
    width: 150px;
}

.portfolio-header {
    padding-left: 20px;
}

.portfolio-container {
    max-width: 800px;
}

.portfolio-image {
    position:relative;
    border: solid 2px darkslategray;
    width: 250px;
    height: 250px;
    margin: 10px;
}

.portfolio-image-div {
    position: relative;
    text-align: center;
    color: darkslategray;
    font-family: 'Satisfy', cursive;
    font-size: 20pt;
    font-weight: bold;
}

.label {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 246px;
    background-color: white;
    opacity: 80%;
}    

.text-wrap {
    float: left;
    margin: 10px;
}
